body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 36px;
    color: #212529;
}

h2 {
    font-size: 20px;
    color: #6c757d;
}
